{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center" style="min-height: 100vh; background-color: #4D4D4D; margin: 0;">
        <div class="col-md-6 col-lg-5">
            <div class="card shadow-sm border-0 p-4">
                <h1 class="text-center text-primary display-4 mb-4">
                    <i class="fa-solid fa-user-plus"></i>
                </h1>
                <form action="{% url 'accounts:signup' %}" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="id_username" class="form-label">Username</label>
                        {{ form.username|add_class:"form-control" }}
                    </div>
                    <div class="mb-3">
                        <label for="id_email" class="form-label">E-mail</label>
                        {{ form.email|add_class:"form-control" }}
                    </div>
                    <div class="mb-3">
                        <label for="id_first_name" class="form-label">First Name</label>
                        {{ form.first_name|add_class:"form-control" }}
                    </div>
                    <div class="mb-3">
                        <label for="id_last_name" class="form-label">Last Name</label>
                        {{ form.last_name|add_class:"form-control" }}
                    </div>
                    <div class="mb-3">
                        <label for="id_password1" class="form-label">Password</label>
                        {{ form.password1|add_class:"form-control" }}
                    </div>
                    <div class="mb-3">
                        <label for="id_password2" class="form-label">Confirm Password</label>
                        {{ form.password2|add_class:"form-control" }}
                    </div>                    
                    <div class="text-center mt-4">
                        <button type="submit" class="btn btn-primary w-100">회원가입</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
