{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- 상품 정렬 -->
    <div class="container mt-4">
        <div class="row justify-content-start">
            <div class="col-md-2">
                <form method="get" action="{% url 'articles:articles' %}">
                    <div class="input-group">
                        <select name="sort_by" class="form-select" onchange="this.form.submit()" style="background-color: #333333; color: #ffffff;">
                            <option value="date" {% if request.GET.sort_by == 'date' %}selected{% endif %} style="background-color: #333333; color: #ffffff;">최신순</option>
                            <option value="popularity" {% if request.GET.sort_by == 'popularity' %}selected{% endif %} style="background-color: #333333; color: #ffffff;">인기도순</option>
                        </select>
                    </div>
                </form>                
            </div>
        </div>
    </div>
    <br>
    <!-- 상품 목록 -->
    <div class="container">
        <div class="row">
            {% for article in articles %}
                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="card shadow-sm h-100">
                        <a href="{% url "articles:article_detail" article.pk %}" class="text-decoration-none text-dark">
                            {% if article.image %}
                                <img src="{{ article.image.url }}" alt="{{ article.image }}" class="card-img-top img-thumbnail" style="height: 250px; object-fit: cover;">
                            {% else %}
                                <img src="{% static 'articles/placeholder.jpg' %}" alt="Placeholder Image" class="card-img-top img-thumbnail" style="height: 250px; object-fit: cover;">
                            {% endif %}
                            <div class="card-body">
                                <p class="card-text text-muted small text-center">{{ article.title }}</p>
                            </div>
                        </a>
                        <div class="card-footer text-center">
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted">
                                    <a href="{% url 'users:profile' username=article.author.username %}" class="text-muted text-decoration-none">
                                        <small class="text-muted">
                                            <img src="{% if article.author.profile_picture %}{{ article.author.profile_picture.url }}{% else %}{% static 'users/user.png' %}{% endif %}" style="height: 20px; width: 20px; object-fit: cover; border-radius: 50%; margin-right: 5px;">
                                            {{ article.author.username }}
                                        </small>                                        
                                    </a>
                                </small>
                                
                                <form action="{% url "articles:like" article.pk %}" method="POST" class="d-inline">
                                    {% csrf_token %}
                                    {% if request.user in article.like_users.all %}
                                        <button class="btn btn-danger btn-sm">
                                            <i class="fa-solid fa-heart"></i> 찜 삭제
                                        </button>
                                    {% else %}
                                        <button class="btn btn-outline-danger btn-sm">
                                            <i class="fa-regular fa-heart"></i> 찜하기
                                        </button>
                                    {% endif %}
                                </form>
                                <small class="text-muted ms-2">
                                    ❤️ {{ article.like_users.count }}  
                                    👀 {{ article.view_count }}
                                </small>
                                
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:4 %}
                    </div><div class="row">
                {% endif %}
            {% endfor %}
        </div>
    </div>

    {% if request.user.is_authenticated %}
        <div class="text-center mt-4" style="position: sticky; top: 0; z-index: 10;">
            <a href="{% url 'articles:create' %}" class="btn" style="background: linear-gradient(45deg, #ff7f50, #ff0000); color: white; padding: 10px 20px; border-radius: 25px; font-size: 16px;">
                <span style="font-size: 20px;">🍊</span> 상품 등록하기
            </a>
        </div>
    {% else %}
        <div class="text-center mt-4">
            <a href="{% url 'accounts:login' %}" class="btn btn-warning">
                <i class="fa-solid fa-right-to-bracket"></i> 로그인
            </a>
        </div>
    {% endif %}
{% endblock content %}
