{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- Welcome Section -->
    <div class="container mt-5" style="background-color: #4D4D4D;">
        <div class="text-center">
            {% comment %} <h1 class="display-4 text-primary">오렌지🍊를 눌러 중고거래를 시작해보세요!</h1> {% endcomment %}
            <img src="{% static 'articles/orange.png' %}" class="img-fluid mt-4" alt="Orange Market Logo">
        </div>
        
        <div class="mt-5 text-center">
            <a href="{% url 'articles:articles' %}" class="btn btn-warning btn-lg">거래소 둘러보기</a>
        </div>
    </div>

{% endblock content %}
